body{
  margin:0;
  text-align:center;
}
h1
{

  margin: 0 auto 0 auto;
  width:25%;
}

.top{
  background-color:#E0EBE8;
  height:800px;





}
.middle{



}
.bottom{




}

.cloud1{
position: relative;
right:270px;
top:250px;


}
.mountain{
width:700px;
display: inline-block;
position:absolute;
top:382px;
right:600px;

}
.cloud2{
  position: absolute;
  top:110px;
  right:500px;
  margin:0;

}
.text1{
  padding-top: 60px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 40px;
  color: #4AB19A;
}
.text2{
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-stretch:extra-expanded;
  font-size: 47px;
  color:#4AB19A;
}
.text3{
  font-size: 22px;
}
.middle-container{
height: 1800px;
}
.profile{
  background-color:   white;
  height: 700px;
}
.naruto{
  height:250px;
  padding-top: 165px;

}

h2{
  font-size: 40px;
  margin: 0;
  font-family: "Comic Sans MS";
 color: #4AB19A;
}
p{
  font-size:25px;
  padding:4px;
  font-family: Comic Sans MS;
}

.skills{

  background-color:white;
  height: 1000px;
}
.asta{
  height: 200px;
  position: absolute;
  left:400px;

}
.asta1{
  position: absolute;
  right: 200px;
  top:2200px;
  width: 300px;
}
.d{
  font-size: 40px;
  padding-top: 100px;
  color: #4AB19A;
}
.e{
  padding-top: 80px;
}
.f{
  font-size: 30px;
  color:#3c907e;
}
.contact-me
{
  height:500px;
  background-color: white;

}
.free{
  padding-top: 80px;
}
.header{
  font-size: 30px;
  font-family: Comic Sans MS;
}
.press{
  font-family: Comic Sans MS;
  color:#3c907e;
  transition-duration: 0.4s;
}
.button{
  width:180px;
  height:100px;
  background-color: #e0ebe9;
  border: 6px solid;
  border-color:#3c907e;
  transition-duration: 0.4s;
  border-radius: 9px;
  font-family: cursive;
  cursor: pointer;
}
.button:hover{
  background-color: #456e67;
  color: white;

  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .bottom{
   background-color: #E0EBE9;
   height: 200px;
   margin:0;
  }
  .fllow{
    margin:0;
    color:#3c907e;
  }
  .footer{
    font-size: 25px;
    text-decoration: none;
  }
.footer1{
  font-size: 25px;
  text-decoration: none;
}
