body{
   background-color:#e6e6ff;
}
hr{

  border-style:none;
  border-color: red;
  border-top:dotted;
  height:10px;
  width:160px;
  border-width:8px;
}
h1{
  color: #9933ff;
  text-align: left;
  text-decoration:underline;
}
h2{
  font-family: cursive;
  color: #9933ff;
  text-decoration:underline;
}
h4{
  font-family: cursive;
  color: #9933ff;
  text-decoration:underline;
}
h3{
font-size: 20px;
font-family: cursive;
color: #9933ff;
text-decoration:underline;
}
button{
  height: 60px;
  width:120px;

  text-align: center;

  font-size: 24px;
  transition-duration:0.4s;
}
.b1{
  background-color:#e6e6ff ;
  color: black;
  border: 2px solid #9933ff ;
  cursor: pointer;
}
.b1:hover{
background-color:rgba(0, 0, 0, 0.2);
color: #9933ff;
}
a{
  text-decoration: none;
}
.lol{
  font-family: cursive;
  color: #9933ff;
  text-decoration:underline;
  text-align:center;
}
.newb
{
  height: 40px;
  width:120px;
}
